
.about-page h1{
    margin-top: 100px;
    color: gold;
}

.about-page .my-img-con{
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin-top: 40px;  
  }

  .about-page img{
    width: 300px;          
    height: 300px;         
    border-radius: 50%;    
    object-fit: cover;    
    border: 2px solid white; 
  }

  .about-page p{
    width: 70%;
    margin: 50px auto 0;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 27px;
    color: #00a6a6;
  } 