.popup-container {
  position: absolute;
  z-index: 1000;
  background-color: black;
  padding: 20px;
  border: 1px solid gold;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: black;
  width: 300px;
}

.popup-container h3 {
  margin-top: 0;
  font-size: 18px;
  color: gold;
  text-align: center;
}

.popup-container ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.popup-container ul li {
  margin-bottom: 10px;
}

.popup-container button {
  width: 100%;
  padding: 10px;
  background-color: #00a6a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-container button:hover {
  background-color: gold;
  color: black;
}

.popup-container .close-btn {
  width: auto; /* Make the button smaller */
  padding: 5px 10px; /* Adjust padding for a smaller size */
  margin-top: 10px;
  background-color: #333; /* Darker background */
  color: #fff; /* Light text color */
  border: 1px solid #555;
  font-size: 12px; /* Smaller font size */
  align-self: flex-end; /* Aligns the button to the right */
}

.popup-container .close-btn:hover {
  background-color: #555;
  color: white;
  border: 1px solid gold;
}
