.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.75s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 600px;
  }
  
.prev .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
.prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
/* 600px for test 480 for real */
@media (max-width: 480px) {}
@media (min-width: 481px) and (max-width: 768px) {}
@media (min-width: 769px) and (max-width: 1024px) {}
@media (min-width: 1025px) {}