.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.75s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 600px;
  }
  

















  
/* 600px for test 480 for real */
@media (max-width: 480px) {
.carousel-item {
    height: 450px;
  }
}
















@media (min-width: 481px) and (max-width: 768px) {
.carousel-item {
    height: 500px;
  }
}
