footer{
    background-color: rgb(23, 23, 23);
    padding: 50px 0 150px;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

footer h3, footer button{
    margin-bottom: 10px;
    font-size: 25px;
}

footer button{
    border: 1px solid #00a6a6;
    padding: 5px;
    border-radius: 3px;
    color: #00a6a6;
    background: none;
    font-size: 18px;
}

footer button:hover{
    background-color: gold;
    color: black;
    border: 1px solid gold;
}

footer .the-logo{
    font-size: 80px;
    color: gold;
}

.icons{
    font-size: 25px;
    margin-top: 10px;
    color: #00a6a6;
}

.social-icons{
    display: flex;
    flex-direction: column;
}

.pro-sources ul{
    margin-left: 20px;
    color: #00a6a6;
    
}

.pro-sources li{
    margin-top: 10px;
    font-size: 20px;
}

.ze-logo{
    display: flex;
    flex-direction: column;
    color: gold;
}

.pro-sources h3{
    color: #00a6a6;
}

.social-color{
    color: #00a6a6;
}