body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }
    
footer{
    background-color: rgb(23, 23, 23);
    padding: 50px 0 150px;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 100%;
}

footer h3, footer button{
    margin-bottom: 10px;
    font-size: 25px;
}

footer button{
    border: 1px solid #00a6a6;
    padding: 5px;
    border-radius: 3px;
    color: #00a6a6;
    background: none;
    font-size: 18px;
}

footer button:hover{
    background-color: gold;
    color: black;
    border: 1px solid gold;
}

footer .the-logo{
    font-size: 80px;
    color: gold;
}

.icons{
    font-size: 25px;
    margin-top: 10px;
    color: #00a6a6;
}

.social-icons{
    display: flex;
    flex-direction: column;
}

.pro-sources ul{
    margin-left: 20px;
    color: #00a6a6;
    
}

.pro-sources li{
    margin-top: 10px;
    font-size: 20px;
}

.ze-logo{
    display: flex;
    flex-direction: column;
    color: gold;
}

.pro-sources h3{
    color: #00a6a6;
}

.social-color{
    color: #00a6a6;
}











@media (max-width: 480px) {
    footer{
        padding: 50px 0 50px;
    }
    .ze-logo{
        display: none;
    }
    footer button{
        display: none;
    }
    .icons{
        font-size: 1rem;
    }     
    .pro-sources li{
        font-size: .7rem;
    }
    .pro-sources ul{
        margin-left: 10px;
    }
    .pro-sources h3{
        font-size: 1rem;
        margin-left: .8rem;
    }
    .social-color{
        font-size: 1rem;
        margin-right: .8rem;
    }
    hr{
        font-size: .6rem;
    }
}












@media (min-width: 481px) and (max-width: 768px) {
    footer{
        padding: 50px 0 80px;
    }
    footer h3, footer button{
        font-size: 1.25rem;
        margin-left: 10px;
    }
    footer button{
        font-size: .8rem;
        margin-right: 10px;
    }
    .icons{
        font-size: 1rem;
    }
    .pro-sources li{
        font-size: .9rem;
    }
    .pro-sources h3{
        font-size: 1rem;
    }
    
    .social-color{
        font-size: 1rem;
    }    
}












@media (min-width: 769px) and (max-width: 1024px) {
    footer{
        padding: 50px 0 100px;
        margin-top: 50px;
    }
    footer h3, footer button{
        font-size: 2rem;
        margin-left: 10px;
    }
    footer button{
        font-size: 1rem;
    }
    .icons{
        font-size: 1.3rem;
    }
    .pro-sources li{
        font-size: 1.1rem;
    }
    .pro-sources h3{
        font-size: 1.5rem;
    }
    
    .social-color{
        font-size: 1.5rem;
    }    
}










@media (min-width: 1025px) {        
    footer{
        padding: 50px 0 100px;
    }
    footer button{
        font-size: 1.25rem;
    }
    .ze-logo h3{
        font-size: 2.75rem;
    }
    .icons{
        font-size: 2rem;
    }    
    .pro-sources li{
        font-size: 1.5rem;
    }
    .pro-sources h3, .social-color{
        font-size: 1.75rem;
    }
}