* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.playlists-page {
    text-align: center;
    padding: 20px;
    margin-bottom: 200px;
  }
  
  .new-playlist-btn {
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #00a6a6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-playlist-btn:hover {
    background-color: gold;
    color: black;
  }
  
  .playlists-grid {
    display: flex;
    flex-direction: column; /* Stacks cards vertically */
    gap: 20px; /* Space between cards */
    align-items: center; /* Center-aligns cards */
  }
  
  .playlist-link {
    width: 80%; /* Limit the card width for better focus */
    text-decoration: none; /* Remove underline on links */
  }
    
h1 {
  margin: 100px 0 50px;
  color: gold;
  font-size: 40px;
}

Footer{
  bottom: 0;
}

/* playlists.css */
.popup {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #f44336; /* Red background for visibility */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other elements */
}
