* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

.search-results-container {
  position: relative;
  width: 96%;
  top: 10vh;
  padding: 20px; /* Adjusted padding */
  background-color: rgb(23, 23, 23);
  overflow: hidden;
  margin: 20px auto 120px;
}

.search-results-container::after {
  content: "";
  display: block;
  clear: both;
}
  
.search-results-container h1 {
  color: gold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: rgb(23, 23, 23);
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
  
.film-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;  /* Prevents the card from shrinking */
  width: 20%;  /* Increase the card width */
  min-height: 400px;  /* Increase the card height */
  background-color: #222;
  box-sizing: border-box;
  border: 2px solid #00a6a6;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 3px 0px;
}

.film-card:hover {
  border: 2px solid gold;
  color: gold;
  filter: brightness(1.3);
  cursor: pointer;
}

.film-card:hover h3 {
  color: gold;
}

/* Image inside the film card */
.film-card img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Title inside the film card */
.film-card h3 {
  text-align: center;
  color: white;
  font-size: 16px;
  letter-spacing: 0.75px;
  margin-bottom: 20px;
  width: 90%;
  overflow: hidden; /* Prevents text from overflowing */
  white-space: nowrap;
  text-overflow: ellipsis; /* Adds '...' at the end of text */
  max-height: 40px; /* Restricts height to 2 lines (adjust) */
  line-height: 40px; /* line spacing to control the title height */
}

.stars {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: auto;
}

.p1, .p2 {
  color: #00a6a6;
  font-size: 14px;
}

.p2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #00a6a6;
  margin-left: auto;  /* Pushes stars to the right */
}

/* Star color */
#rate-star {
  color: gold;
}

.add-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #00a6a6;
  border-radius: 5px; 
  cursor: pointer;
  width: 60%;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}

.add-movie .list-img {
  font-size: 20px;
  margin-right: 10px; 
}

.add-movie:hover {
  background-color: gold;
  color: black;
}