/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000; 
    color: #00a6a6; 
    overflow-x: hidden;
}

.carousel-container {
    position: relative;
    width: 100%;
    top: 10vh;
    margin-bottom: 12vh;
}

.carousel-item{
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 1;
}

.h1-Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

h1 {
    font-size: 50px;
    background-color: black;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: gold;
    font-family: "Ubuntu", sans-serif;
}

