.tv-card-container{
    background-color: rgb(23, 23, 23);
}

.Popular-tv{
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-left: 20px;
    padding-bottom: 20px;
}

h2{
    margin: 50px 20px 20px;
    font-size: 35px;
    padding-top: 10px;
}

.Popular-tv::-webkit-scrollbar { 
    display: none; 
}

.tv-film-card{
    text-align: center;
    width: 20%;
    height: auto;
    flex-shrink: 0;
    margin-right: 30px;
    scroll-snap-align: start;
    border: 2px solid #00a6a6;
    border-radius: 25px;
}

.tv-film-card:hover{
    cursor: pointer;
    border: 2px solid gold;
    filter: brightness(1.25);
    color: gold;
}

.tv-film-card:hover h3{
    color: gold;
    text-decoration: underline;
}

.add-tv{
    display: flex;
    background-color: none;
    width: 100%;
    border: none;
    padding: 4px;
    font-size: 15px;
    background: none;
    color: white;
    letter-spacing: .75px;
    align-items: center;
    justify-content: center;
}

.add-tv:hover{
    color: gold;
    text-decoration: underline;
}

.tv-film-card img{
    width: 100%;
}

.add-tv p{
    margin-left: 10px;
}

.tv-film-card h3{
    font-size: 15px;
    color: white;
    padding-top: 5px;
    letter-spacing: 1.5px;
    height: 40px;
    overflow: hidden;
}

.stars{
    display: flex;
    margin: 10px 5px;
}

.stars p{
    margin-left: 5px;
}

